<script setup lang="ts">
import HelloWorld from './HelloWorld.vue'
import App2 from './App2.vue'
</script>

<template>
  <div>
    <HelloWorld />
    <div>=======================</div>
    <div>姓名1：<%- name %></div>
    <div>年龄：<%- age %></div>
    <div>性别：<%- sex %></div>
    <div> =======================</div>
    <App2 />
  </div>
</template>

<style scoped>
</style>
